{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="login-card">
        <h3 class="text-center mb-4">{% trans "Login" %}</h3>

        <p class="text-center">{% blocktrans %}Welcome to the Caiman Cove login page. To book a table, leave a comment,
          or like a post, please log in. If you have not created an account yet, then <a class="link"
            href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

        <form class="login-form mt-4" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <!-- {% crispy form %} -->
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
