{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h1 class="my-5 text-center">Your Bookings</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Booking Date</th>
          <th>Reserved Date</th>
          <th>Time Slot</th>
          <th>Guest Count</th>
          <th>Table</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr>
          <td>{{ booking.reservation_time|date:"D, M d Y" }}</td>
          <td>{{ booking.reserved_date|date:"D, M d Y" }}</td>
          <td>{{ booking.get_reserved_time_slot_display }}</td>
          <td>{{ booking.get_guest_count_display }}</td>
          <td>{{ booking.table }}</td>
          <td>
            <span class="badge {% if booking.status == 'confirmed' %}badge-success{% elif booking.status == 'rejected' %}badge-danger{% else %}badge-info{% endif %}">
              {{ booking.status }}
            </span>
          </td>
          <td>
            {% if user.is_authenticated and user == booking.user %}
            <a href="{% url 'edit_booking' booking.pk %}" class="btn btn-outline-primary btn-sm">Edit</a>
            <a href="{% url 'delete_booking' booking.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
