{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="reservation-pending-card">
        <h1 class="text-center mb-4">Your Reservation is Pending</h1>
        <p class="text-center">You will be notified soon</p>
        <p class="text-center"><strong>Awaiting Confirmation</strong></p>
        <p class="text-center">We look forward to seeing you!</p>
        <h4 class="text-center mt-4">Return home, <a href="{% url 'home' %}" class="link">click here</a></h4>
        <h4 class="text-center mt-4">Review your Bookings<a href="{% url 'booking_list' %}" class="link">click here</a></h4>
        <h4 class="text-center mt-4">Add Another booking<a href="{% url 'reservations' %}" class="link">click here</a></h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}