{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 mt-5 mb-5">
            <h1 class="text-center">Update Your Reservation</h1>
            <hr class="my-4">
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="card bg-light shadow">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-12 rounded bg-secondary text-white p-4">
                            
                            {% if not user.is_authenticated %}
                            <h2 class="mb-4">Login Required</h2>
                            <p class="mb-4">Please log in to manage your bookings.</p>
                            <a href="{% url 'account_login' %}" class="btn btn-success">Log In</a>
                            {% else %}
                            {% if user.is_authenticated and user == booking.user %}
                            <h2 class="mb-4">Edit Your Reservation</h2>
                            <form action="{% url 'edit_booking' booking.pk %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    {{ form|crispy }}
                                </div>
                                <div class="mt-4">
                                    <button class="btn btn-success" type="submit">Update Reservation</button>
                                </div>
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

