@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Index Page Styling */

body {
    background-color: #212529;
    font-family: 'Roboto', sans-serif;
    color:white;
}

.carousel-inner {
    max-width: 80%; 
    max-height: 60%; 
    margin: 0 auto; 
    border: 10px solid goldenrod; 
}

#carouselExample {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.card {
    width: 30%; 
    height: auto; 
    max-width: 300px; 
    margin: 10px; 
    border: none;
    background-color:goldenrod;
    color:black;
}
.card .card-text {
    font-size: 18px; 
}
.card img {
    max-height: 350px; 
    object-fit: cover; 
    margin-top: 10px; 
}

.card-title {
    text-align: center;
}


.card-container {
    padding: 20px;
    margin-bottom: 20px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}
/*------------------ -------------------Make hamburger menu icon white -------------------------------*/

.navbar-toggler-icon {
    background-color: white;
}

/* ---------------------------Navigation and Footer Stylin--------------------------------------- */

.navbar-nav .nav-link {
    font-size: 20px; 
}

.navbar-brand {
    font-size: 24px; 
}
.bg-lighter {
    background-color: #070114b7; 
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff; 
    transition: color 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ced4da; 
}
.active-link {
    color: goldenrod;
}
.social-button {
    background-color: goldenrod;
    color: #000;
    transition: background-color 0.3s;
    position: relative;
  }
  
  .social-button:hover {
    background-color: white;
  }

footer a {
    color: #ffffff; 
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

footer a:hover {
    color: #ced4da; 
}

/*---------------------------------Menu---------------------------------------*/

.menu-list {
    list-style: none;
    padding-left: 0;
  }
  
  .menu-item {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .menu-item h3 {
    font-size: 28px;
    margin-bottom: 5px;
    
  }
  
  .menu-description {
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  .menu-price {
    font-size: 18px;
    font-weight: bold;
    
  }
  
/*----------------------------------Blog--------------------------------------*/  
.custom-card-width {
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the card horizontally */
  }

/* Add styling for comments section */
.comments-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}  
/* Customize the font and line spacing */
.card-body {
    font-family: 'Helvetica', Arial, sans-serif; 
    line-height: 1.6; /* Adjust line spacing */
}

.card-body h3 {
    font-size: 24px; /* Increase heading font size for readability */
}

.list-unstyled li {
    margin-bottom: 20px; /* Add spacing between comments */
}

.small.text-muted {
    font-size: 12px; /* Reduce date font size for subtlety */
}
