/* Index Page Styling */
body {
    background-color: #212529;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.carousel-inner {
    max-width: 80%; /* Adjust the value as needed */
    max-height: 60%; /* Adjust the value as needed */
    margin: 0 auto; /* Center the carousel horizontally */
    border: 10px solid goldenrod; /* Add a border with a gold color */
}

#carouselExample {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%; /* Adjust the value as needed */
    height: auto; /* Maintain aspect ratio */
    max-width: 300px; /* Set a maximum width */
    margin: 10px; /* Center the card horizontally */
    border: none;
    background-color: rgb(105, 105, 131);
}

.card img {
    max-height: 350px; /* Adjust the value as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin-top: 10px; /* Add top margin */
}

.card-title {
    text-align: center;
}

/* Optional: Add padding and margin for spacing */
.card-container {
    padding: 20px;
    margin-bottom: 20px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

/* Navigation and Footer Styling */
.bg-lighter {
    background-color: #070114b7; /* Adjust the color as needed */
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff; /* White text color */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ced4da; /* Lighter color on hover */
}

footer a {
    color: #ffffff; /* White link color */
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

footer a:hover {
    color: #ced4da; /* Lighter color on hover */
}


