{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Reuse the card design from blog_list.html -->
                <div class="card" style="width: 100%; max-width: none;">
                    <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <p>{{ post.content|safe }}</p>
                        <a href="#" class="btn btn-primary">Back to top</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comments-container">
      <h3 class="comments-title">Comments</h3>
      <ul class="comment-list">
        {% for comment in post.comments.all %}
          {% if comment.approved %}
            <li class="comment-item">{{ comment.body }} - <span class="comment-author">{{ comment.name }}</span></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_comment' post.pk %}" class="comment-form">
          {% csrf_token %}
          {{ comment_form|crispy }}
          <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
      {% else %}
        <p><a href="{% url 'login' %}" class="btn btn-secondary">Login</a> to add comments.</p>
      {% endif %}
    </div>
    
{% endblock %}
