{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Reuse the card design from blog_list.html -->
                <div class="card" style="width: 100%; max-width: none;">
                    <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <p>{{ post.content|safe }}</p>
                        <a href="#" class="btn btn-primary">Back to Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
