{% extends 'base.html' %}  

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h2 class="text-center">Drinks</span></h2>
        <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h2 class="text-center">Cocktails</span></h2>
        <hr>
        <ul>
          {% for drink in drink_items %}
          {% if drink.drink_item_type == 0 %}
              <h3>{{ drink.drink_item_name }}</h3>
              <p>{{ drink.drink_description }}<p>
              <p>€{{ drink.drink_price }}</p>
          {% endif %}
          {% empty %}
            <li>No cocktails available.</li>
          {% endfor %}
        </ul>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8">
          <h2 class="text-center">Beers</span></h2>
          <hr>
          <ul>
            {% for drink in drink_items %}
            {% if drink.drink_item_type == 1 %}
                <h3>{{ drink.drink_item_name }}</h3>
                <p>{{ drink.drink_description }}<p>
                <p>€{{ drink.drink_price }}</p>
            {% endif %}
            {% empty %}
            {% if forloop.last %}
              <li>No beers available.</li>
            {% endif %}
            {% endfor %}
          </ul>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8">
          <h2 class="text-center">Rhums</span></h2>
          <hr>
          <ul>
            {% for drink in drink_items %}
            {% if drink.drink_item_type == 2 %}
                <h3>{{ drink.drink_item_name }}</h3>
                <p>{{ drink.drink_description }}<p>
                <p>€{{ drink.drink_price }}</p>
            {% endif %}
            {% empty %}
              <li>No beers available.</li>
            {% endfor %}
          </ul>
      </div>
    </div>
</div>
{% endblock %}
