{% extends 'base.html' %}  

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h2 class="text-center">Drinks</span></h2>
        <hr>
    </div>
  </div>
    <ul>
      {% for drink in drink_items %}
      <li>
        <h3>{{ drink.drink_item_name }}</h3>
          <p>{{ drink.drink_description }}<p>
          <p>€{{ drink.drink_price }}</p>
        </li>
      {% empty %}
        <p>No drinks available at the moment.</p>
      {% endfor %}
    </ul>
</div>

{% endblock %}
