{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h1 class="text-center mb-4">Meals</h1>
        <hr class="mb-5">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h2 class="text-center">Starters</h2>
        <hr class="mb-3">
        <ul class="menu-list">
          {% for food in food_items %}
          {% if food.food_item_type == 0 %}
              <li class="menu-item">
                <h3>{{ food.food_item_name }}</h3>
                <p class="menu-description">{{ food.food_description }}</p>
                <p class="menu-price">€{{ food.food_price }}</p>
              </li>
          {% endif %}
          {% empty %}
            <li>No starters available.</li>
          {% endfor %}
        </ul>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h2 class="text-center">Mains</h2>
        <hr class="mb-3">
        <ul class="menu-list">
          {% for food in food_items %}
          {% if food.food_item_type == 1 %}
              <li class="menu-item">
                <h3>{{ food.food_item_name }}</h3>
                <p class="menu-description">{{ food.food_description }}</p>
                <p class="menu-price">€{{ food.food_price }}</p>
              </li>
          {% endif %}
          {% empty %}
            <li>No Mains available.</li>
          {% endfor %}
        </ul>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h2 class="text-center">Desserts</h2>
        <hr class="mb-3">
        <ul class="menu-list">
          {% for food in food_items %}
          {% if food.food_item_type == 2 %}
              <li class="menu-item">
                <h3>{{ food.food_item_name }}</h3>
                <p class="menu-description">{{ food.food_description }}</p>
                <p class="menu-price">€{{ food.food_price }}</p>
              </li>
          {% endif %}
          {% empty %}
            <li>No Desserts available.</li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
<!-- Back to Top Button -->
<div class="d-flex justify-content-center align-items-center mb-4">
  <a href="#top" class="btn btn-primary">Back to Top</a>
</div>
{% endblock %}

